<div class="details-view">
  <h4>Destination for call to action</h4>
  <%= scrivito_tag :div, widget, :call_to_action %>

  <h4>Text on call to action button</h4>
  <div class="alert alert-info">
    If empty, title of referenced obj is used.
  </div>
  <%= scrivito_tag :div, widget, :call_to_action_text %>
</div>